.Section_Skills {
    width: 100%;
    height: 100vh;
    padding: 10vh 0px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 0.5vw;
    background-color: #eaeaea;
    position: relative;
    /* Position relative for absolute positioning of arrows */
}

.Section_Skills h1 {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: clamp(25px, 5vw + 5px, 50px);
    /* font-size: 50px; */
    padding: 5vh 0vw 0vw 0vw;
}

.Card_div {
    width: 90%;
    height: 76.1vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4vw;
    overflow-x: auto;
    padding: 0vh 2vw 0vw 2vw;


    /* Hide horizontal overflow */
    /* Position relative for arrow placement */
}

.card {
    min-width: 250px;
    min-height: 300px;
    width: 25vw;
    height: 30vw;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5%;
    background: #fff;
    text-align: center;
    padding: 3% 2%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    flex-shrink: 0;
}

.card img {
    min-height: 90px;
    height: 8vw;
}

.card h3 {
    color: #444;
    padding-top: 5%;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: clamp(18px, 2vw + 1px, 50px);
}

.card p {
    color: #777;
    padding: 5% 0 7% 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: clamp(15px, 1.2vw + 1px, 35px);
}

.card .btn {
    background: #252525;
    color: #ffffff;
    font-size: clamp(15px, 0.5vw + 1px, 35px);
    border-radius: 5px;
    padding: 2% 5%;
    text-decoration: none;
}

.card .btn:hover {
    letter-spacing: 1px;
    background: #1DA1F2;
    color: #ffffff;
}

.card:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    transform: scale(1.03);
}

.Arrow1 {
    position: absolute;
    /* top: 50%; */
    left: 1%;
    cursor: pointer;
    width: 4vw;
    height: 4vw;

    z-index: 1;
}

.Arrow1 img {
    width: 4vw;
    height: 4vw;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.Arrow2 {
    position: absolute;
    right: 1%;
    cursor: pointer;
    width: 4vw;
    height: 4vw;
    z-index: 1;
}

.Arrow2 img {
    width: 4vw;
    height: 4vw;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.Arrow1 img:hover {
    transform: scale(1.3);
    /* Scale up to 110% */
}

.Arrow2 img:hover {
    transform: scale(1.3);
    /* Scale up to 110% */
}