.form_box {
    margin: 2vh 0px 0px 0px;
    background-color: #252525;
    padding: 3%;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border-radius: 6px;
    transition: transform 0.3s ease;
    height: 62%;
}

/* Scale the element when hovered */
.form_box:hover {
    transform: scale(1.05);
    /* Adjust scale factor as needed */
}

label {
    color: #FFFFFF;
    font-size: clamp(12px, 1.5vw + 1px, 20px);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}

.input {
    text-align: center;
    border-radius: 10px;
    color: #000000;
    box-shadow: 5px 5px 10px #3e4444;
}

.inputText {
    height: 10vh;
    width: 100%;
}


.submit_button {
    margin-top: 5vh;
    color: #000000;
    cursor: pointer;
    font-weight: 500;
    line-height: 1;
    padding: 1em 1.5em;
    border-style: hidden;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: 0.5s linear;
}

.submit_button:hover {
    transform: scale(1.05);
    background: #252525;
    color: #ffffff;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}